<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="A:/Projects/com.org.finacplus/src/test/java/ApplicationTests/E2ETests.java"><classes><class name="ApplicationTests.E2ETests"><methods><include name="assertLockedOutUser"/><include name="assertProblemUser"/><include name="assertPerformanceUser"/><include name="assertErrorUser"/><include name="assertVisualUser"/><include name="addAndAssertCartItemWithValidCredentialsAndStoreInTextFile"/></methods></class></classes></test></suite>